VITE_AWS_REGION=ap-northeast-1
VITE_USER_POOL_ID=ap-northeast-1_XXXXXXXXX
VITE_USER_POOL_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXX
# CDK Output の CognitoDomain (例: https://taskflow-123456789012.auth.ap-northeast-1.amazoncognito.com)
VITE_COGNITO_DOMAIN=https://taskflow-XXXXXXXXXXXX.auth.ap-northeast-1.amazoncognito.com
VITE_API_URL=https://XXXXXXXXXX.execute-api.ap-northeast-1.amazonaws.com/prod
# ローカル開発: http://localhost:5173  本番: https://<CloudFront>.cloudfront.net
VITE_APP_URL=http://localhost:5173
